.bandera_idioma
{
    width: 20px;
    height: 20px;
    border-radius: 60%;
}

.body{
    background-image: url(../img/fondo_web.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.texto {
    color: #000000;
    text-align: center;
    font-size: 40px;
}

#encabezado {
    background-image: url(../img/encabezado.png);
    color: #fdfdfd;
    width: 100%; /* Ocupa todo el ancho de la página */
    height: 620px;
    background-position: center;
    background-size: cover; /* Asegura que la imagen cubra todo el div */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; /* Asegúrate de que no haya margen */
    padding: 0; /* Asegúrate de que no haya padding */
    text-align: center;
 
}

.icono_menu {
    height: 40px;
    width: 40px;
}

#accordionFlushExample {
    margin-top: 48px;
    color: rgba(240, 248, 255, 0.644);
}

.resaltado:hover {
    transition: all 0.3s ease;
    transform: scale(1.1);
    
  }

#margen {
    margin-left: 300px; /* Espacio a la izquierda */
    margin-right: 300px; /* Espacio a la derecha */
}

img {
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
}

#footer {
    background-color:rgb(52, 53, 53);
    color: #fdfdfd;
    width: 100%; /* Ocupa todo el ancho de la página */
    background-size: cover; /* Asegura que la imagen cubra todo el div */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; /* Asegúrate de que no haya margen */
    padding: 0; /* Asegúrate de que no haya padding */
}

.container {
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}



